/* Common style  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h2{
    font-size: 28px;
    font-weight: 700;
    color: rgb(77, 3, 216);
}
/* Header style start  */
.header-area{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 570px;
    background-color: rgb(77, 3, 216);
}
.header-title{
    width: 485px;
    height: 230px;
    font-size: 2.5em;
    color: white;
}

.live-button a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    font-size: 16px;
    width: 168px;
     height: 44px;
     padding: 10px 24px;

}

.live-button:hover{
    transform: scale(1.2);
}

.header-banner img{
    width: 556px;
    height: 438px;
}

/* .header-banner:hover{
    transform: scale(1.1);
} */

/* Header style end  */

 /* player album style start  */
 .player-container{
     display: flex;
     justify-content: center;
     margin-top: 70px;
 }
 .player-album{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
 }
 .player{
    width: 330px;
    height: 474px;
    padding: 15px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .player img{
    width: 100%;
height: 256px;
 }

 /* player album style end  */

 /* News Video Style Start  */

 .news-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
.news-title h2{
    font-size: 2.5em;
}
 .news-video span{
     margin-left: 10px;
 }

 /* Sponsor style start  */
 .sponsor-container{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     width: 100%;
     
 }
 .sponsor-title h2{
     font-size: 2.5em;
 }
 .sponsor-icon img{
     width: 150px;
     height: 90px;
     margin-left: 20px;
 }

 /* Footer style start  */
.footer-area{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 .footer-banner img{
    width: 483.87px;
    height: 110px;
 }

 .social-icon a {
     text-decoration: none;
     margin-left: 14px;
     font-size: 2em;
     }

     .social-icon a .fa-facebook, .fa-facebook-messenger {
         color: rgb(0, 81, 255);
     }

     .social-icon a .fa-youtube{
         color: red;
     }

     .social-icon a .fa-twitter{
         color: rgb(14, 187, 245);
     }